
<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <meta content = "width=device-width, initial-scale=1.0">
  <title>ML API</title>
  <link rel ="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">  
</head>

<body>
  <div class = "container">
    <header class = "header">
      <h1 id = "title">
        Health Classification Based on Lifestyle
      </h1>
      <p id = "description"> 
        Better understand your health. <br>
        Group 5
      </p>
      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}" id = "survey-form" method="post">
        <label>Please complete the below questionnaire.</label>
        <label for="Gender">What is your sex?</label>
        <select id="Gender" name="Gender">
          <option value disabled selected >Select</option>
          <option value="Yes">Male</option>
          <option value="No">Female</option>
        </select><br>
        <script type="text/javascript">
          document.getElementById('Gender').value = "<?php echo $_GET['Gender'];?>";
        </script>

        <label for="FHO">Do you have a history of obesity in your family?</label>
        <select id="FHO" name="FHO">
          <option value disabled selected >Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select><br>
        <label for="FAVC">Do you frequently consume high caloric food?</label>
        <select id="FAVC" name="FAVC">
          <option value disabled selected >Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select><br>
        <label for="FCVC">Do you frequently consume vegetables?</label>
        <select id="FCVC" name="FCVC">
          <option value disabled selected >Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select><br>
        <label for="NCP">How many main meals do you eat a day?</label><input type="float" name="NCP" placeholder="Number of Daily Meals" required="required"/><br>
        <label for="CAEC">How often do you eat between meals?</label>
        <select id="CAEC" name="CAEC">
          <option value disabled selected >Select</option>
          <option value="nalc">Never</option>
          <option value="salc">Sometimes</option>
          <option value="falc">Frequently</option>
          <option value="aalc">Always</option>
        </select><br>
        <label for="SMOKE">Do you smoke?</label>
        <select id="SMOKE" name="SMOKE">
          <option value disabled selected >Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select><br>
        <label for="CH20">How much water do you drink daily?</label>
        <select id="CH20" name="CH20">
          <option value disabled selected >Select</option>
          <option value="lncfm">Less than a liter</option>
          <option value="bncfm">Between 1 and 2 L</option>
          <option value="mncfm">More than 2 L</option>
        </select><br>
        <label for="SCC">Do you monitor the calories you eat daily?</label>
        <select id="SCC" name="SCC">
          <option value disabled selected>Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select><br>
        <label for="FAF">How often do you have physical activity?</label>
        <select id="FAF" name="FAF">
          <option value disabled selected>Select</option>
          <option value="npa">Never</option>
          <option value="spa">1 or 2 days</option>
          <option value="gpa">2 or 4 days</option>
          <option value="mpa">4 or 5 days</option>
        </select><br>
        <label for="TUE">How long do you spend on your devices every day?</label>
        <select id="TUE" name="TUE">
          <option value disabled selected >Select</option>
          <option value="nds">0-2 hours</option>
          <option value="sds">3-5 hours</option>
          <option value="gds">More than 5 hours</option>
          <option value="mds">Always</option>
        </select><br>
        <label for="CALC">How often do you drink alcohol?</label>
        <select id="CALC" name="CALC">
          <option value disabled selected >Select</option>
          <option value="nalc">No</option>
          <option value="salc">Sometimes</option>
          <option value="falc">Frequently</option>
          <option value="aalc">Always</option>
        </select><br>
        <label for="mtrans">What is your primary mode of transportation?</label>
        <select id="mtrans" name="mtrans">
          <option value disabled selected >Select</option>
          <option value="Automobile">Automobile</option>
          <option value="Motorbike">Motorbike</option>
          <option value="pub">Public Transportation</option>
          <option value="Bike">Bike</option>
          <option value="Walking">Walking</option>
        </select><br>
        <label for="Age">How old are you?</label><input type="number" name="Age" placeholder="Age" required="required" />{{ prediction_text }}<br>
        <label for="NCP">How many main meals do you eat a day?</label><input type="number" name="NCP" placeholder="Number of Daily Meals" required="required"
          /><br>
        <button type="submit" id ="submit" onclick="handleSubmit()" class="btn btn-primary btn-block btn-large">Predict</button>
        <br>
      </form>
    {{ prediction_text }}
  </div>  
</body>
</html>

